@import '../variables';

.header {
  position: relative;
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 1380px) {
    padding: 20px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1120px) {
      flex-direction: column;
    }
  }
  .auth{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
  }
  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
    @media (max-width: 1120px) {
      margin-bottom: 15px;
    }
  }
  &__search {
    position: relative;
    left: -120px;
    svg {
      height: 22px;
      left: 14px;
      opacity: .3;
      position: absolute;
      top: 12px;
      width: 22px;
    }
    input {
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 10px;
      font-size: 16px;
      padding: 12px 20px 12px 42px;
      width: 400px;
      @media (max-width: 560px) {
        width: 250px;
      }
    }
    @media (max-width: 1380px) {
      left: 0;
      margin-bottom: 15px;
    }
  }
  &__searchClear{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 30px;
    opacity: 0.5;
    cursor: pointer;
  }
}
